/* body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 2px 2px 20px 15px hsla(216, 15%, 48%, 0.144);
    /* width: 800px; 

}

img {
    border-radius: 40px;
    /* width: 100%;
}

p {

    font-weight: 400;
    color: hsl(216, 15%, 48%);
    font-size: 30px;
    text-align: center;
}

.bold {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 40px;

}

.small {
    margin: -10px;
    padding-bottom: 20px;
}

*/